@media (max-width: 768px) {
    .footer-logo img {
        width: 100%;
        max-width: 191px;
        margin-left: 60px;
    }

    .main-footer {
        padding: 0px 0 0 0;
    };


.about-banner {
    background-position: center center;
    background-size: cover;
    height: 177px;
}


.page-header-box {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 0px;
}
























}